#!/bin/bash
#
# Prunes the ISO images deployed to a local directory.
#
# Clean up script for deploy-iso-locally.post-build
#
# Required Environment Variables
#    BUILD_SH_REPO_DIR: The root of the build repository. Set in `build.sh`.
#    DEST_ISO_DIR: The directory path to deploy the ISO into. Set in
#    	`.build.sh.conf`.
#
# Optional Environment Variables
#    DEST_ISO_PREFIX: A prefix added to the desination filename. This can be
#    	used to get the image in a particular order in the destination
#    	directory.


set -e -o pipefail

run_hook() {
	[[ -n "$BUILD_SH_REPO_DIR" ]] || (echo ERROR: BUILD_SH_REPO_DIR variable unset; exit 1)
	pushd "$BUILD_SH_REPO_DIR" >/dev/null

	# Load the shared config
	source .build.sh.conf

	[[ -n "$DEST_ISO_DIR" ]] || (echo ERROR: DEST_ISO_DIR variable unset; exit 1)

	# Build the destination filename including the git commit short hash, the date, and the time.
	DEST_ISO_FILENAME_PATTERN="${DEST_ISO_PREFIX_BASE}*${DEST_ISO_BASE_FILENAME%.iso}-*.iso"

	# Check for input and output locations and bail out if one of them doesn't
	#   exist.
	if ! [ -d "$DEST_ISO_DIR" ]; then
		echo Not deploying $SRC_ISO_FILENAME locally to $DEST_ISO_DIR/$DEST_ISO_FILENAME
		echo ERROR: DEST_ISO_DIR "$DEST_ISO_DIR" not found
		exit 1
	fi

	# Copy the ISO to its destination.
	echo Pruning ${DEST_ISO_FILENAME_PATTERN}*.iso locally from $DEST_ISO_DIR
	set -x
	find "${DEST_ISO_DIR}" -xdev -type f -name "${DEST_ISO_FILENAME_PATTERN}" #-delete
}

source "$(dirname "$0")/common"
