# !!!Important!!! There can be only one of each directive!
# Subsequent instances of the same directive override the previous ones.
# Any option that appears in both preseed.cfg and this file will use the value
# in this file.

# Do some stuff before ending the installer
# * Set flags for mapping first in the installer environment then in the 
# installed OS chroot.
# * Enable the first-boot systemd service
d-i preseed/late_command string /target/create-dated-flag.sh /target/preseed-late-command-in-installer.flag; in-target /create-dated-flag.sh /preseed-late-command-in-target.flag; in-target /usr/bin/systemctl enable first-boot.service;

# TESTING: comment out the following in production. This is just for convenience.
keyboard-configuration keyboard-configuration/altgr select The default for the keyboard layout
keyboard-configuration keyboard-configuration/compose select No compose key
keyboard-configuration keyboard-configuration/ctrl_alt_bksp boolean false
keyboard-configuration keyboard-configuration/layout select 
keyboard-configuration keyboard-configuration/layoutcode string us
keyboard-configuration keyboard-configuration/model select Generic 105-key PC
keyboard-configuration keyboard-configuration/modelcode string pc105
keyboard-configuration keyboard-configuration/optionscode string 
keyboard-configuration keyboard-configuration/store_defaults_in_debconf_db boolean true
keyboard-configuration keyboard-configuration/switch select No temporary switch
keyboard-configuration keyboard-configuration/toggle select No toggling
keyboard-configuration keyboard-configuration/unsupported_config_layout boolean true
keyboard-configuration keyboard-configuration/unsupported_config_options boolean true
keyboard-configuration keyboard-configuration/unsupported_layout boolean true
keyboard-configuration keyboard-configuration/unsupported_options boolean true
keyboard-configuration keyboard-configuration/variant select English (US)
keyboard-configuration keyboard-configuration/variantcode string 
keyboard-configuration keyboard-configuration/xkb-keymap select us

languagechooser languagechooser/locale string en
locales locales/default_environment_locale select en_US.UTF-8
locales locales/locales_to_be_generated multiselect en_US.UTF-8

d-i time/zone string US/Eastern
tzdata tzdata/Zones/America select US/Eastern


tasksel tasksel/first multiselect ssh-server
apt-setup apt-setup/use_mirror boolean true
apt-setup apt-setup/cdrom/set-first boolean false


# Default language and keymap for testing
d-i console-setup/ask_detect boolean false
d-i debconf/language string en_US:en
d-i debian-installer/country string US
d-i debian-installer/fallbacklocale string en_US.UTF-8
d-i debian-installer/language string en
d-i debian-installer/locale string en_US.UTF-8
d-i keyboard-configuration/altgr select The default for the keyboard layout
d-i keyboard-configuration/compose select No compose key
d-i keyboard-configuration/ctrl_alt_bksp boolean false
d-i keyboard-configuration/layout select 
d-i keyboard-configuration/layoutcode string us
d-i keyboard-configuration/model select Generic 105-key PC
d-i keyboard-configuration/modelcode string pc105
#d-i keyboard-configuration/optionscode string 
d-i keyboard-configuration/store_defaults_in_debconf_db boolean true
d-i keyboard-configuration/switch select No temporary switch
d-i keyboard-configuration/toggle select No toggling
d-i keyboard-configuration/unsupported_config_layout boolean true
d-i keyboard-configuration/unsupported_config_options boolean true
d-i keyboard-configuration/unsupported_layout boolean true
d-i keyboard-configuration/unsupported_options boolean true
d-i keyboard-configuration/variant select English (US)
#d-i keyboard-configuration/variantcode string 
d-i keyboard-configuration/xkb-keymap select us
d-i languagechooser/locale string en
d-i locales/default_environment_locale select en_US.UTF-8
d-i locales/locales_to_be_generated multiselect en_US.UTF-8
# Default timezone for testing
d-i time/zone string US/Eastern
d-i tzdata/Zones/America select US/Eastern
# Pre-can partitioning options for testing
d-i partman-auto-lvm/guided_size string max
d-i partman-auto/choose_recipe select atomic
d-i partman-auto/disk string /dev/sda
d-i partman-auto/method string lvm
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-md/device_remove_md boolean true
d-i partman-partitioning/choose_label string gpt
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
# Default hostname for testing
d-i netcfg/get_hostname string emcommtools
d-i netcfg/get_domain string
# Default apt settings for testing
d-i apt-setup/use_mirror boolean true
d-i mirror/country string US
d-i mirror/http/mirror select deb.debian.org
d-i mirror/http/proxy string
d-i apt-setup/cdrom/set-first boolean false
d-i tasksel/first multiselect ssh-server
# Auto install grub to the test VM's hard drive for testing.
# This is super dangerous outside of a controlled environment.
d-i grub-installer/bootdev string /dev/sda
# Set the primary user's name human name.
d-i passwd/user-fullname string Example Ham N0CALL
# Set the primary user's username
d-i passwd/username string ham
# Set the default password for the primary user.
# This might be useful for testing and production line installing but is
# otherwise probably a bad idea.
# Use `mkpasswd -m sha512crypt` to encrypt the password.
# `mkpasswd` is in the `whois` package.
# The hash below is for the password "default"
d-i passwd/user-password-crypted password $6$2BlvZvC447.AfXbZ$MZ8hEjq0v8yGtFnCch75BaUIASvYjofFN7asl3.2.AuaHHiJr1yGfO0noKSTh1smbGwhKElIdBC4/.PLM/cqm1
# Or just put the password in plaintext
#d-i passwd/user-password password default
#d-i passwd/user-password-again password default
# Don't confirm reboot/shutdown
d-i finish-install/reboot_in_progress note
# Automatically eject the CD from the VM
#d-i cdrom-detect/eject boolean true
# Power down instead of rebooting
#d-i debian-installer/exit/poweroff boolean true
# END TESTING: comment out in production. This is just for convenience.
