# Disable direct root login. `sudo` and `sudo su -` are still available.
d-i passwd/root-login boolean false

# Set the primary user's name human name.
d-i passwd/user-fullname string Example Ham N0CALL
# Set the primary user's username
d-i passwd/username string ham

# TESTING: comment out in production. This is just for convenience.
# Set the default password for the primary user.
# This might be useful for testing and production line installing but is 
#   otherwise probably a bad idea.
# Use `mkpasswd -m sha512crypt` to encrypt the password.
#   `mkpasswd` is in the `whois` package.
#   The hash below is for the password "default"
d-i passwd/user-password-crypted password $6$2BlvZvC447.AfXbZ$MZ8hEjq0v8yGtFnCch75BaUIASvYjofFN7asl3.2.AuaHHiJr1yGfO0noKSTh1smbGwhKElIdBC4/.PLM/cqm1 

# TESTING: comment out in production. This is just for convenience.
# Set the timezone automatically
d-i time/zone string US/Eastern

# Pre-can partitioning options for testing
# TESTING: comment out the following in production. This is just for convenience.
d-i partman-partitioning/choose_label string gpt
d-i partman-auto/disk string /dev/sda
d-i partman-auto/method string lvm
d-i partman-auto-lvm/guided_size string max
d-i partman-auto/choose_recipe select atomic
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish 
d-i partman/confirm boolean true 
d-i partman/confirm_nooverwrite boolean true
# END TESTING: comment out in production. This is just for convenience.

# Include all the flavors of repo
d-i apt-setup/non-free-firmware boolean true
d-i apt-setup/non-free boolean true
d-i apt-setup/contrib boolean true

# Uncomment the following line, if you don't want to have the sources.list
# entry for a DVD/BD installation image active in the installed system
# (entries for netinst or CD images will be disabled anyway, regardless of
# this setting).
d-i apt-setup/disable-cdrom-entries boolean true

# Uncomment this to add multiarch configuration for i386
# This might not be required. The WINE flatpack can do 32 or 64 bit with the same install support and most or all of the 
#   other 32bit software has 64bit versions.
#d-i apt-setup/multiarch string i386

# Don't run the package selection dialog *AND* don't install any additional packages
#d-i pkgsel/run_tasksel boolean false
d-i pkgsel/run_tasksel boolean true

# Packages are given as a space delimited list
# FIXME: Install required packages instead of test package
d-i pkgsel/include string pipx sudo

# Added dialout group for serial access
d-i passwd/user-default-groups string users sudo dialout

# This is fairly safe to set, it makes grub install automatically to the UEFI
# partition/boot record if no other operating system is detected on the machine.
d-i grub-installer/only_debian boolean true

# Run some arbitrary command after the rest of the install process.
# This is run in the installer *not* the installed system.
d-i preseed/late_command string /bin/sh /set-preseed-late-command.flag.sh

# Run some arbitrary command after the rest of the install process.
# This is run in the installed system.
d-i preseed/late_command string in-target /bin/bash /set-preseed-late-command.flag.sh
