# !!!Important!!! There can be only one of each directive!
# Subsequent instances of the same directive override the previous ones.
#
# tasksel and pkgsel options aren't used by the installer. Use 
#   `config/package-lists/*.list` or 
#   `config/package-lists/*.list.chroot_install` instead.

# Include all the flavors of repo
#apt-setup apt-setup/use_mirror boolean true
d-i apt-setup/use_mirror boolean true
#apt-setup apt-setup/cdrom/set-first boolean false
d-i apt-setup/cdrom/set-first boolean false
#apt-mirror-setup apt-setup/contrib boolean true
d-i apt-setup/contrib boolean true
#apt-mirror-setup apt-setup/non-free boolean true
d-i apt-setup/non-free boolean true
#apt-mirror-setup apt-setup/non-free-firmware boolean true
d-i apt-setup/non-free-firmware boolean true
#apt-setup-udeb apt-setup/enable-source-repositories boolean true
d-i apt-setup/enable-source-repositories boolean true



# Uncomment the following line, if you don't want to have the sources.list
# entry for a DVD/BD installation image active in the installed system
# (entries for netinst or CD images will be disabled anyway, regardless of
# this setting).
# This doesn't automatically add the remote apt repos.
#d-i apt-setup/disable-cdrom-entries boolean true
#db_get apt-setup/disable-cdrom-entries boolean true

# Tell the installer "Yes, definitely create a new user."
d-i passwd/make-user boolean true
# Disable direct root login. `sudo` and `sudo su -` are still available.
d-i passwd/root-login boolean false
# Added dialout for serial access
d-i passwd/user-default-groups string audio cdrom dailup dip floppy video plugdev netdev scanner bluetooth debian-tor lpadmin

# This is fairly safe to set, it makes grub install automatically to the UEFI
# partition/boot record if no other operating system is detected on the machine.
d-i grub-installer/only_debian boolean true  # PROD: Recommend enabling in production.
#grub-installer grub-installer/only_debian boolean true

# Example: Late-command in installer environment
# Run some arbitrary command after the rest of the install process.
# This is run in the installer *not* the installed system.
#d-i preseed/late_command string /target/create-dated-flag.sh /target/preseed-late-command-in-installer.flag

# Example: Late-command in installed OS environment
# Run some arbitrary command after the rest of the install process.
# This is run in the installed system.
#d-i preseed/late_command string in-target /create-dated-flag.sh /preseed-late-command-in-target.flag

# Example: Late-command in both environments
# Run multiple arbitrary commands in both the installer and target
#d-i preseed/late_command string /target/create-dated-flag.sh /target/preseed-late-command-in-installer.flag; in-target /usr/bin/systemctl enable first-boot.service; in-target /create-dated-flag.sh /preseed-late-command-in-target.flag;

# Opt out of popularity-contest since we're supposed to be offline anyway.
popularity-contest popularity-contest/participate boolean false  # PROD: Recommend enabling in production
