# Include all the flavors of repo
d-i apt-setup/non-free-firmware boolean true
d-i apt-setup/non-free boolean true
d-i apt-setup/contrib boolean true

# Uncomment the following line, if you don't want to have the sources.list
# entry for a DVD/BD installation image active in the installed system
# (entries for netinst or CD images will be disabled anyway, regardless of
# this setting).
d-i apt-setup/disable-cdrom-entries boolean true

# Uncomment this to add multiarch configuration for i386
# This might not be required. WINE has WOW64 support and most or all of the 
#   other 32bit software has 64bit versions.
#d-i apt-setup/multiarch string i386

# Don't run the package selection dialog *AND* don't install any additional packages
#d-i pkgsel/run_tasksel boolean false

# FIXME: Install required packages instead of test package
d-i pkgsel/include string pipx

# This is fairly safe to set, it makes grub install automatically to the UEFI
# partition/boot record if no other operating system is detected on the machine.
d-i grub-installer/only_debian boolean true

# Run some arbitrary command after the rest of the install process.
d-i preseed/late_command string #FIXME: dump the emcomm tools os repo to disk and run the install script
